@model Rent




<div class="container">
    <div class="ron">
        <div class="col-6 offset-3">
            <div class="mt-3 p-3 shadow rounded">
                <div class="text-center border-bottom mb-3 p-3">
                    <h2 class="text-info">Booking Now</h2>
                </div>
                <div>
                    @Html.ValidationSummary()
                </div>
                <div class="p-3">
                    <form action="/Rent/Add" method="post" autocomplete="off" enctype="multipart/form-data">
                        <div id="locationDetails" style="display:">
                            <div class=" mb-3">
                                <h5 class="text-black"> 
                                    Location Details
                                </h5>

                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">PickUp</label>
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.PickUp, new {@class="form-control",placeholder="Enter PickUp"})
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">Drop off</label>
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.DropOff, new {@class="form-control",placeholder="Enter DropOFF"})
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">PickUp date</label>
                                <div class="col-9">
                                    @Html.TextBoxFor(m=> m.PickUpDate, new {@class="form-control",type="date",placeholder="Enter PickUpDate"})
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">Drop off Date</label>
                                <div class="col-9">
                                    @Html.TextBoxFor(m=> m.DropOffDate, new {@class="form-control",type="date",placeholder="Enter DropOff date"})
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">Total run</label>
                                <div class="col-9">
                                    @Html.TextBoxFor(m=> m.TotalRun, new {@class="form-control",type="number",placeholder="Enter Total Run(in KM)"})
                                </div>
                            </div>



                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">Rate</label>
                                <div class="col-9">
                                    @Html.TextBoxFor(m=> m.Rate, new {@class="form-control",placeholder="Enter Rate(per KM)"})
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-sm btn-primary p-2" type="button" onclick="showCarDetails()">
                                    Next
                                </button>
                            </div>
                        </div>

                        <div id="carDetails" style="display:none">
                            <div class=" mb-3">
                                <h5 class="text-black">
                                    Car Details
                                </h5>

                            </div>

                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">Brand</label>
                                <div class="col-9">
                                    <select id="brandddl" name="Brand" class="form-select">
                                        <option>Select Brand</option>
                                        @foreach (var x in ViewBag.Brands)
                                        {
                                            <option>@x</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">Model</label>
                                <div class="col-9">
                                    <select id="modelddl" name="model" class="form-select">
                                        <option>Select Model</option>
                                         @foreach (var x in ViewBag.Models)
                                        {
                                            <option>@x</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">Driver</label>
                                <div class="col-9">
                                    <select id="driverddl" name="driver" class="form-select">
                                        <option>Select Driver</option>
                                         @foreach (var x in ViewBag.Drivers)
                                        {
                                            <option>@x</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">Customer Name</label>
                                <div class="col-9">
                                    @Html.TextBoxFor(m =>m.CustomerName, new {@class="form-control" ,placeholder="Enter Your Name"})
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-3 col-form-label text-info">Customer Number</label>
                                <div class="col-9">
                                    @Html.TextBoxFor(m =>m.CustomerContactNo, new {@class="form-control" ,placeholder="Enter Your number"})
                                </div>
                            </div>

                            <div class="mb-3">
                                <button class="btn btn-sm p-2 btn-primary" type="button" onclick="showLocationDetails()">Previous</button>
                                <button class="btn btn-sm p-2 btn-dark" type="reset">Clear</button>
                                <button class="btn btn-sm p-2 btn-success" type="submit">Book Now</button>
                            </div>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    function showCarDetails() {
        $('#carDetails').show();
        $('#locationDetails').hide();

    }


    function showLocationDetails() {
        $('#carDetails').hide();
        $('#locationDetails').show();

    } 

   
    
    
</script>